/*������ʽ��ʼ*/
#navigation { 
	width:784px; 
	padding:8px; 
	margin:8px auto; 
	background:#3B5998;
	height:18px;
}
#navigation ul li { 
	float:left; 
	margin-right:14px;
	position: relative ;
	z-index:100;
}
#navigation ul li a { 
	display:block;		/* a 元素独占一行 */
	padding:0 8px; 
	background:#EEEEEE; 
	font-weight:700;
}
#navigation ul li a:hover { 
	background:none; 
	color:#fff;
}
#navigation ul li ul{
	background-color: #88C366;
	position: absolute;
	width: 80px;
	overflow:hidden;
	display:none;		/* ul li ul 下的元素隐藏 */
}
#navigation ul li:hover ul{
	background-color: #88C366;
	position: absolute;
	width: 100px;
	display:block;	/* 显示里面的 ul元素 */
}
#navigation ul li ul li{
	border-bottom: 1px solid #BBB;
	text-align: left;
	width: 100%;
}
/*������ʽ����*/