table{
    border-collapse: collapse;  /* 设定td之间没有间距 */
}
table td{
    padding-bottom: 10px;
    padding-top: 10px; 
    width: 100px;
}
#table-wrapper table td:hover{
    background:url(pen.svg) no-repeat;
    background-position: 60% 70%;
    background-size: 30px;
}
#table-wrapper table td:hover input{
    border-color:#000000;
    border-style: solid;
}
.sure,.cancel{
    float: right;
    padding: 0;
    display: none;
}
#table-wrapper table td:hover .innerDiv,.sure,.cancel{
    display: block;
}
table .list td{
    border-bottom: 1px solid black;
    
}
#svg-wrapper{
    height: 380;
    width: 600;
    
}
.thebody td input{
    width: 30px;
    outline: none;
    border-color: #ffffff;
    border-style: none;
    cursor: hand;
    float: left;
}
.thebody td .innerDiv{
    float: right;
    display: none;
}
