body{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.main{
    height: 100%;
    background-color: yellow;
    border: 2px solid blueviolet;
    display: flex;
    align-items: flex-start;
}
.left{
  flex:0 0 300px;

}
.right{
   flex:0 0 300px;
}
.center{
    flex:1 1 auto;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.clearfix{
    *zoom: 1;
}