body{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.main{
    height: 100%;
    background-color: yellow;
    border: 2px solid blueviolet;
    position: relative;
}
.head{
    position: relative;
    width:300px;
}
.foot{
    position: absolute;
    left: 320px;
    top: 0;

}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.clearfix{
    *zoom: 1;
}