body{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.main{
    height: 100%;
    background-color: yellow;
    border: 2px solid blueviolet;
    position: relative;
}
.head{
    position: relative;
    width: 30%;
}
.foot{
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;

}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.clearfix{
    *zoom: 1;
}